<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PandicaZooVrt"
        tools:targetApi="31">
        <!-- LoginActivity -->
        <activity
            android:name=".authorization.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- MainActivity -->
        <activity android:name=".MainActivity" /> <!-- Other activities -->
        <activity android:name=".BaseActivity" /> <!-- Other activities -->


        <activity android:name=".authorization.RegistrationActivity" />
        <activity android:name=".HomepageActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".animals.AnimalsActivity" />
        <activity android:name=".EventsActivity" />
        <activity android:name=".NotificationsActivity" />
        <activity android:name=".AccountActivity" />

        <activity android:name=".tickets.TicketsActivity" />
        <activity android:name=".tickets.ChildrenTicketsActivity" />
        <activity android:name=".tickets.AdultsTicketsActivity" />
        <activity android:name=".tickets.GroupTicketsActivity" />
        <activity android:name=".animals.PageAnimalActivity"
            android:windowSoftInputMode="adjustPan"
            />

    </application>

</manifest>